<a class="navbar-brand" href="~/#">
      <img
        src="https://undergr0und.social/media/logo-undergr0und-short.png"
        class="me-2"
        height="40"
        alt="@Site.SiteName Logo"
        loading="lazy"
      />

      <small></small>
</a>